<main class="container">
  <h1>New</h1>
  <form action="/artworks" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" />

    <label for="height">Height</label>
    <input type="text" id="height" name="height" />

    <label for="width">Width</label>
    <input type="text" id="width" name="width" />

    <input type="Submit" />
  </form>
</main>
