<main class="container h-100">
  <div class="row gx-5">
    <div class="col col-7 vh-75">
      <canvas id="designer" width="300" height="150"
        >Unfortunately your browser does not support canvas.</canvas
      >
    </div>
    <div class="col col-3 pt-md-5">
      <form action="/artworks" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control .form-control-lg"
          />
        </div>

        <fieldset class="input-group mb-3">
          <legend class="form-label">Image Size</legend>
          <input
            id="imageWidth"
            type="text"
            class="form-control"
            placeholder="width"
            aria-label="width"
            name="width"
          />
          <span class="input-group-text">X</span>
          <input
            id="imageHeight"
            type="text"
            class="form-control"
            placeholder="height"
            aria-label="height"
            name="height"
          />
        </fieldset>

        <div class="mb-3">
          <label for="borderRange" class="form-label">Borders</label>
          <div>
            <input
              id="borderRange"
              type="range"
              name="borders"
              class="form-control-range borders-range"
              value="0"
              min="0"
              max="200"
            />

            <output id="bubble" class="bubble" for="borders" value="0"
              >0"</output
            >
          </div>
        </div>
        <input id="resolution" name="resolution" type="hidden" value="72" />
        <input
          type="Submit"
          value="Confirm Design"
          class="form-control .form-control-lg"
        />
      </form>
    </div>
  </div>
</main>
<script src="/js/designer.js"></script>
