<main class="container">
  <div class="row pt-md-5">
    <div class="col">
      <h2>The visual will be here</h2>
    </div>
    <div class="col">
      <form action="/artworks" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control .form-control-lg"
          />
        </div>

        <fieldset class="input-group mb-3">
          <legend class="form-label">Dimensions</legend>
          <input
            type="text"
            class="form-control"
            placeholder="width"
            aria-label="width"
            name="width"
          />
          <span class="input-group-text">X</span>
          <input
            type="text"
            class="form-control"
            placeholder="height"
            aria-label="height"
            name="height"
          />
        </fieldset>

        <div class="mb-3">
          <label for="customRange1" class="form-label">Borders</label>
          <input type="range" class="form-range" id="customRange1" />
        </div>

        <input
          type="Submit"
          value="Confirm Design"
          class="form-control .form-control-lg"
        />
      </form>
    </div>
  </div>
</main>
