<header>
  <nav class="nav-main">
    <div>
      <a
        class="brand"
        href="<% if (currentUser){ %> /artworks <% } else { %> / <% } %> "</a> 
        <span class="logo">FD</span></a
      >
         <div class="nav-buttons">
        <% if (currentUser) { %>
          <a class="button" href="/artworks/new"
              >Add Artwork</a
            >
          <a class="button button-primary" href="/sessions?_method=DELETE"
            >Log Out
          </a>

        <% } else { %>
          <a class="button button-primary" href="/users/new">Sign Up</a>
          <a class="button" href="/sessions/new">Log In</a>
          <% } %>
        </div>
      
    </div>
  </nav>
</header>
