<main class="container">
  <div class="tagline">
    <h1>Frame Designer</h1>
    <h4>An app that designes Frames</h4>
  </div>
  <div class="row">
    <div class="six columns">
      <p class="lead">
        Frame Designer lets you preview how your frame will look like before ordering the frame. 
        You can adjust the proportions of the image, white
        border, and molding in order to get your perfect framed piece.</p> 
        <p> Well...
        maybe not 'your' perfect framed piece, but you can play around with
        framing this Walker Evans photograph in three diffrent black frame
        sizes. Pretty great, no?</p>
      </p>
    </div>
    <div class="six columns">
      <img
        class="hero"
        src="/images/Walker-Evans_New-Orleans-Street-Corner.jpg"
      />
    </div>
  </div>
</main>