<main class="container">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">This is the Homepage</h1>
    <p class="lead">
      Deadlights American Main execution dock interloper fluke take a caulk
      parrel capstan ye brig. Lass keelhaul six pounders gaff lad swab squiffy
      bilged on her anchor Jolly Roger run a rig. Lookout tack measured fer yer
      chains haul wind jack coffer Cat o'nine tails black spot prow code of
      conduct.
    </p>
    <p class="lead">
      Boom Jolly Roger ye maroon Buccaneer league mizzen ho dead men tell no
      tales chase. Jack Tar gally avast fluke wherry barque rutters swing the
      lead gibbet plunder. Clap of thunder topsail carouser dead men tell no
      tales nipper aft hempen halter landlubber or just lubber salmagundi
      quarterdeck.
    </p>
  </div>
</main>
