html,
body {
  height: 100%;
}

dl {
  margin-bottom: 25px;
}

dt,
dd {
  display: inline-block;
  width: 40%;
}

dt {
  font-weight: bolder;
}

.nav-main {
  display: block;
  width: 100%;
  padding: 25px;
}

.nav-main a {
  text-decoration: none;
  color: black;
}

.nav-main a:hover,
.nav-main a:visited {
  color: black;
}

.brand {
  display: inline-block;
  transform: rotate(15deg);
  /* position: relative; */
}

.logo {
  position: relative;
  /* border-radius: 30%; */
  background-color: black;
  font-size: 2em;
  color: white;
  font-weight: bolder;
  padding: 50px;
  top: -0px;
  left: -55px;
  letter-spacing: 3px;
}

.hero {
  width: 100%;
}

.nav-buttons {
  float: right;
  margin-right: 50px;
}

.tagline {
  text-align: center;
  margin-bottom: 50px;
}

.tagline > h1 {
  margin-bottom: 0;
}

.button-primary {
  color: black !important;
  background-color: lightgray !important;
  outline: lightgray !important;
  border: 1px solid lightgray !important;
}

.button-primary:hover {
  color: black !important;
  background-color: lightgray !important;
  outline: black !important;
  border: 1px solid black !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 10% auto auto;
}

.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px balck solid;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px solid black !important;
  outline: black !important;
}

.container {
  margin-top: 50px;
  max-width: 1200px !important;
}

.borders-range {
  display: inline-block;
  width: 75%;
}

.bubble {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 32px;
  font-size: 1.2em;
  color: black;
  text-align: center;
  border-radius: 3px;
  background: #e9ecef;
  padding: 5px 6px;
  margin-left: 8px;
  top: -21px;
}
.bubble::after {
  position: absolute;
  top: 14px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #e9ecef;
  border-bottom: 7px solid transparent;
  content: "";
}

/* utilities */

.vh65 {
  height: 65vh;
}

.mt6p {
  margin-top: 6%;
}

.form-connector {
  padding-top: 8px;
  font-size: 1.2em;
  text-align: center;
}
