<main class="container">
  <div class="form-signin">
    <form action="/users" method="POST">
      <h2>Signup to begin</h2>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="u-full-width"
        name="username"
        required
        autofocus
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="u-full-width"
        name="password"
        required
      />

      <button class="u-full-width button-primary" type="submit">Sign up</button>
    </form>
  </div>
</main>
